# OS-specific files.
.DS_Store

# SWS sites and files
mounted_volume/*
local_vars.yml

# Ansible files.
*.retry
.galaxy_install_info

# Drupal VM specific files.
drupal-vm/
local.config.yml
Vagrantfile.local
drupal-vm/config.yml
/docker-compose.yml
/drupal.make.yml
/examples/prod/inventory
/examples/prod/bootstrap/vars.yml
/scripts/
/drupal/
